{% extends '/layout.html.twig' %}

{% block title %}Create{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>New Investment</h3>
            </div>
        </div>
        <form id="create" class="mt-3">
            <div class="row">
                <div class="col-md-4 mt-3 mt-md-0">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Ticker Type</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-check mt-md-2">
                                <input class="form-check-input" type="radio" name="tickerType" value="Crypto" id="tickerTypeCrypto">
                                <label class="form-check-label" for="tickerTypeCrypto">Crypto</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check mt-md-2">
                                <input class="form-check-input" type="radio" name="tickerType" value="Stock" id="tickerTypeStock">
                                <label class="form-check-label" for="tickerTypeStock">Stock</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 mt-3 mt-md-0">
                    <label for="symbol" class="form-label">Symbol</label>
                    <input type="text" class="form-control" id="symbol" name="symbol" placeholder="AAPL">
                </div>

                <div class="col-md-4 mt-3 mt-md-0">
                    <label for="transactionDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="transactionDate" name="transactionDate">
                </div>
            </div>

            <div class="row mt-3">
                <div id="stockShares" class="col-md-4 d-none">
                    <label for="shares" class="form-label">Shares</label>
                    <input type="text" class="form-control" id="shares" name="shares">
                </div>
                
                <div id="stockPricePerShare" class="col-md-4 mt-3 mt-md-0 d-none">
                    <label for="pricePerShare" class="form-label">Price/Share</label>
                    <input type="text" class="form-control" id="pricePerShare" name="pricePerShare">
                </div>

                <div id="cryptoAmount" class="col-md-4 d-none">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="text" class="form-control" id="amount" name="amount">
                </div>
                
                <div id="cryptoPrice" class="col-md-4 mt-3 mt-md-0 d-none">
                    <label for="priceTotal" class="form-label">Price</label>
                    <input type="text" class="form-control" id="priceTotal" name="priceTotal">
                </div>

                <div class="col-md-4 mt-3 mt-md-0 text-md-end">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type=radio][name=tickerType]').change(function() {
                if (this.value == 'Crypto') {
                    $("#cryptoAmount,#cryptoPrice").removeClass('d-none');
                    $("#stockShares,#stockPricePerShare").addClass('d-none');
                } else if (this.value == 'Stock') {
                    $("#stockShares,#stockPricePerShare").removeClass('d-none');
                    $("#cryptoAmount,#cryptoPrice").addClass('d-none');
                }
            });

            $("#create").submit(function(e) {
                // prevent default behaviour
                e.preventDefault();

                let form = $(this);

                $.ajax({
                    type: "POST",
                    url: '{{ url_for('investments.create.form') }}',
                    data: form.serialize(), // serializes the form's elements.
                    datatype: 'json',
                    success: function(data) {
                        if (data.status == "success") {
                            $(form).trigger('reset');
                            
                            Toastify({
                                text: data.message,
                                duration: 3000,
                                gravity: "top",
                                positionLeft: false,
                                className: "bg-success bg-gradient text-body"
                            }).showToast();
                        } else {
                            let arr = [];
                            for(var i in data.message) {
                                arr.push(data.message[i]);
                            }

                            Toastify({
                                text: arr.join("\r\n"),
                                duration: 3000,
                                gravity: "top",
                                positionLeft: false,
                                className: "bg-warning bg-gradient text-body"
                            }).showToast();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}