{#<div class="row">
    <div class="col p-3 text-center" style="background: #41ad49; border-bottom: 3px solid #ffdb00;">
        <img src="https://dta0yqvfnusiq.cloudfront.net/mvdexpress/2020/08/M11965-MVD-Express-5f345b9e29efd.png"
            alt="" height="64">
    </div>
</div>#}

{#<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a> -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="{{ url_for('recipes.list') }}" class="nav-link px-2 text-white">Recipes</a></li>
                <li><a href="{{ url_for('import') }}" class="nav-link px-2 text-white">Import</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input id="search" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </div>
</header>#}